@font-face {
  font-family: 'newsweekly';
  src: url('../fonts/newsweekly-Regular.ttf');
}

* {
  font-family: 'newsweekly', serif;
}

#weatherApp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.formSect > h1 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  border: 5px solid black;
}
